data/timetable.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!--Timetable-->
<!ELEMENT booking (instructors, days)>


<!--Instructors-->
<!ELEMENT instructors type (Tejinder Randhawa|James Parry|Catherine Ryan|Mathew Linder|Mirela Gutica|Brenda Fine) #REQUIRED>
<!ELEMENT instructor (#PCDATA)>

<!--Periods-->
<!ELEMENT periods (period*)>
<!ELEMENT period (class*)>
<!ATTLIST period type (830|930|1030|1130|1230|1330|1430|1530) #REQUIRED>

<!--Days-->
<!ELEMENT days (day*)>
<!ELEMENT day (class*)>
<!ATTLIST day type (Monday|Tuesday|Wednesday|Thursday|Friday) #REQUIRED>

<!--Class-->
<!ELEMENT class (
        name?,
        code?,
        day?,
        time?,
        location?,
        type?,
        instructor?
        )>
<!ELEMENT name (#PCDATA)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT time (#PCDATA)>
<!ELEMENT location (#PCDATA)>
<!ELEMENT type (Lab|Lecture)>



